.menu-link {
  color: #00274f !important;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}

/* Hover effect */
.menu-link:hover {
  background-color: #ff0707;
  color: #ffffff !important;
}
